<div class="card">
    <div class="card-img-wrapper">
        <img *ngIf="property.image" class="card-img-top" src="../../../assets/images/{{property.image}}.jpg" alt="">
        <img *ngIf="!property.image" class="card-img-top" src="../../../assets/images/defaultHouse.jpg" alt="">

        <ul class="list-inline text-center member-icons animate"> 
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="../detailView/{{property.id}}"><i class="bi bi-pencil-square"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="bi bi-envelope-at"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">
        <h1>{{property.adress}}</h1>
        <h2>{{property.type}}</h2>
        <h3>{{property.price}}</h3>
    </div>
</div>
