<div class="row shadow">
    <div class="col-sm-4 p-0">
      <div class="card">
        <div class="card-img-wrapper">
          <img *ngIf="property.image" class="card-img-top" src="../../../assets/images/{{property.image}}.jpg">
          <img *ngIf="!property.image" class="card-img-top" src="../../../assets/images/defaultHouse.jpg">
        </div>
        <div class="card-body">
          <h1 class="card-title">{{property.address}}</h1>
          <div>
              <strong>{{property.pType}} priced at <span class="font-highlight">{{property.price}}</span> €</strong>
          </div>
          <div>
            
             <strong>in <span class="theme-color">{{property.city}}</span></strong>
          </div> <hr>
          <div>
              <strong>Build Area: </strong>
              {{property.builtArea}} Sq m
          </div>
  
          <div>
              <strong>Furnishing Type: </strong>
              {{property.fType}}
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary">Like</button>
            <button class="btn btn-success">Message</button>
          </div>
        </div>
    </div>
    </div>
    <div class="col-sm-8 p-0">
      <div class="tab-panel p-3">
        <tabset class="member-tabset">
          <tab heading="Overview">
            <h1>Overview</h1>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div *ngIf="property.totalFloor" class="heading">
                        <strong>Number of floors</strong>
                        <p>{{property.totalFloor}}</p>
                    </div>
  
                    <div *ngIf="property.age" class="heading">
                        <strong>Age of Property</strong>
                        <p>{{property.age}}</p>
                    </div>
  
                    <div *ngIf="property.availableFrom" class="heading">
                        <strong>Posession</strong>
                        <p>{{property.availableFrom}}</p>
                    </div>
                </div>
  

                <div *ngIf="property.description" class="col-sm-12">
                    <div class="heading">
                        <strong>About Property</strong>
                        <p>{{property.description}}</p>
                    </div>
                </div>
              </div>
          </tab>
          <tab heading="Address">
            <div class="col-sm-12">
              <h1>Address</h1>
              <div class="heading">
                  <strong>Street: {{property.address}}</strong><br/>
                  <!-- <strong>{{property.Address2}}</strong><br/> -->
                  <strong>City of {{property.city}}</strong>
              </div>
          </div>
  
          </tab>
          <tab heading="Photos">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </tab>
          <tab heading="Contact">
            <h1>Contact Detail</h1>
            This should be restricted area and only registered user should be able to see seller's contact details
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  